ALL_POSE.csv is a dummy data to perform train_test split

In [13]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
df = pd.read_csv('individual data sets/yoga.csv')

In [16]:
df.head()

,class,x1,y1,z1,v1,x2,y2,z2,v2,x3,...,z31,v31,x32,y32,z32,v32,x33,y33,z33,v33
0,TrikonaAsana,0.658107,0.399988,-0.232685,0.999985,0.670482,0.406888,-0.234085,0.999936,0.671605,...,0.081472,0.993228,0.714445,0.882579,0.206206,0.901431,0.231325,0.902276,-0.034461,0.994783
1,TrikonaAsana,0.657797,0.401103,-0.232699,0.999983,0.670214,0.408072,-0.232902,0.999924,0.671432,...,0.029949,0.993468,0.716077,0.883021,0.225300,0.906267,0.232438,0.902466,-0.092808,0.994897
2,TrikonaAsana,0.657303,0.401405,-0.230929,0.999982,0.669726,0.408260,-0.229953,0.999913,0.671034,...,0.033274,0.993691,0.717033,0.883258,0.223532,0.911113,0.233140,0.902528,-0.088684,0.994986
3,TrikonaAsana,0.656615,0.401957,-0.230326,0.999981,0.669127,0.408609,-0.228878,0.999904,0.670539,...,0.030369,0.993931,0.717905,0.883356,0.222961,0.915716,0.234691,0.902397,-0.092079,0.995101
4,TrikonaAsana,0.656238,0.402549,-0.229423,0.999980,0.668835,0.409033,-0.227699,0.999897,0.670289,...,0.027389,0.994167,0.718261,0.883414,0.220368,0.919866,0.235331,0.902307,-0.095637,0.995226

In [17]:
X = df.drop('class', axis=1) # features
y = df['class'] # target value
y

0          TrikonaAsana
1          TrikonaAsana
2          TrikonaAsana
3          TrikonaAsana
4          TrikonaAsana
              ...
13844    ArdhChakrAsana
13845    ArdhChakrAsana
13846    ArdhChakrAsana
13847    ArdhChakrAsana
13848    ArdhChakrAsana
Name: class, Length: 13849, dtype: object

In [18]:
from sklearn.model_selection import train_test_split

test_size=0.2 means 20% testing data and 80% training data

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [20]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((9694, 132), (4155, 132), (9694,), (4155,))

let's check if there are any null values (NaN) and clean our data

In [21]:
df.isna().sum()

class    0
x1       0
y1       0
z1       0
v1       0
        ..
v32      0
x33      0
y33      0
z33      0
v33      0
Length: 133, dtype: int64

In [22]:
from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler 
from sklearn.ensemble import RandomForestClassifier

pipelines = {
   
    'rf':make_pipeline(StandardScaler(), RandomForestClassifier()),
    
}

In [23]:
fit_models = {}
for algo, pipeline in pipelines.items():
    model = pipeline.fit(X_train, y_train)
    fit_models[algo] = model

In [24]:
from sklearn.metrics import accuracy_score # Accuracy metrics 
import pickle 
for algo, model in fit_models.items():
    yhat = model.predict(X_test)
    print(algo, accuracy_score(y_test, yhat))

rf 1.0

In [12]:
with open('model.pkl', 'wb') as f:
    pickle.dump(fit_models['rf'], f)